.itemList {
    background-color: #B17457;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4A4947;
    padding: 2rem;
    margin-top: 2rem;
}

.itemList-products {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
    );
    gap: 1rem;
}

.itemList-products-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
    align-items: center;
    object-fit: cover;
    height: 100%;
    border: 5px solid #FAF7F0;
    background-color: #FAF7F0;
}

.itemList-products-card-info {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itemList-products-card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.itemList-products-card-cartButton {
    border: 1px solid #4A4947;
    background-color: #FAF7F0;
    color: #4A4947;
    margin-bottom: 0.5rem;
    transition: background-color,color 0.3s ease-in-out;
}

.itemList-products-card-cartButton:hover {
    border: 1px solid #FAF7F0;
    background-color: #379777;
    color: #FAF7F0;
    margin-bottom: 0.5rem;
}

.itemList-products-verDetalles {
    width: 200px;
    text-decoration: none;
    color: #FAF7F0;
    border: 1px solid #4A4947;
    background-color: #379777;
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.itemList-products-verDetalles:hover {
    background-color: #157656;
}